@charset "UTF-8";

/*
    paleta de cores
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body, html{
    background-color: rgb(165, 29, 29);
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
 section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;

    background-color: white;
    width: 300px;
    height: 550px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349);
    transition: width .4s, height .4s;
    transition-timing-function: ease;
}

section#login > div#imagen{
    display: block;
    background: black url(../imagens/img_log.jpg) no-repeat;
    background-size:cover;
    height: 300px;
} 

section#login > div#formulario{
    display: block;
    padding: 10px;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 35px;
    background-color: rgb(155, 32, 32);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form > input[type=submit]:hover{
    background-color: rgb(119, 24, 24);
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 35px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: rgb(66, 13, 13);
    border: 1px solid  rgb(155, 32, 32);
    border-radius: 7px;
    text-decoration: none;


}

form > a.botao:hover{
    background-color: rgb(119, 24, 24);
}

form > a.botao > i{
    font-size: 0.8em;
}


